* {
    box-sizing: border-box;
}
body { 
    background-color: rgb(88, 24, 69);
    font-family: 'Roboto Mono', monospace;
}

/* COMIENZO CSS INDEX */

/* BARRA NAVEGADORA inicio*/
.main_header {
    width: 100%;
    height: auto;
    margin: auto; 
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgb(88, 24, 69);
}
.nav_bar ul{
    list-style: none;
    margin:0px;
    padding: 0px;
   }

.nav_bar li{
    display: inline;
    margin: 15px;
   }

.nav_bar a {
    text-decoration: none;
    color: rgb(255, 195, 0);
   }

img {
    width: 200px;
    height: auto;
    margin-bottom: 0px;
}


/* Contenedor general de info */

.movie_list {
padding-top: 100px;
width: 80%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
}

h2{
    text-align: center;
    color: rgb(255, 195, 0);
}

.movie_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin: 5px;
}

.movie {
margin-top: 50px;
background-color: seagreen;
width: 200px;
height: auto;
color: white;
text-align: center;
border-radius: 10px;
}


/* FIN CSS INDEX */

/* COMIENZO CSS DETAIL MOVIE */


.container_movieDetail {
    width: 70%;
    display: flex;
    justify-content:space-around;
    margin: auto;
    margin-top: 200px;
}

.movie_card {
    width: 30%;
    height: auto;
    background-color: rgb(255, 195, 0);
    text-align: center;
    padding-top: 20px;
}

.image_movie {
width: 90%;
height: auto;
display: block;
margin: auto;
}

.container_movie_detail {
    width: 30%;
    margin-top: 40px;
    color: seashell;

}

hr {
    border-bottom: solid 1px rgb(255, 195, 0);
}


/* CSS FORMULARIO DE REGISTRO */ 

.container-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 200px auto;
    width: 80%;
    height: auto;
    text-align: center;
}

.formulario-registro {
margin: 10px 50x;
}
.formulario-login {
    margin: 10px 50px;
    }    

.control-form {
    margin-bottom: 5px;
    position: relative;
}

.control-form label {
    display: inline-block;
    border: none;
}


.control-form input {
    color: rgb(255, 195, 0);
    padding: 20px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: rgb(255, 195, 0);
    border-bottom: 1px solid rgb(255, 195, 0);
    background-color: rgb(88, 24, 69);
}
.control-button {
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(255, 195, 0)d;
    border: 1px solid rgb(88, 24, 69);
    margin-top: 40px;
}

.control-form input:focus {
    outline: 0;
    border-color: red;
}

.control-form.success input {
    border-color: greenyellow;
}

.control-form i {
    visibility: hidden;
}

.control-form.success i.fa-check-circle {
    color:greenyellow;
    visibility: visible;
}

.control-form.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}

.control-form small {
    color: red;
    visibility: hidden;
}

.control-form.error small {
    visibility: visible;
}