<!--NAVEGADOR-->
<div class="main_header">
    <div>
        <img href="/" src="../img/cineZeta.png" alt="cine Zeta">
    </div>

    <nav class="nav_bar">
        <ul>
            <li><a href="/login/enter">Ingresar</a></li>
            <li><a href="/users/create">Registrarse</a></li>
        </ul>
    </nav>
</div>
<!--FIN NAVEGADOR-->