<!--NAVEGADOR-->
<div class="main_header">
    <div>
        <img  href="./" src="../img/cineZeta.png" alt="cine Zeta">
    </div>

    <nav class="nav_bar">
        <ul>
            <li><a href="./users/login">Ingresar</a></li>
            <li><a href="./users/register">Registrarse</a></li>
            <li><a href="./movies/movieCreate">Crear Película</a></li>
        </ul>
    </nav>
</div>
<!--FIN NAVEGADOR-->