<!--NAVEGADOR-->
<div class="main_header">
    <div>
        <img  href="./index" src="../img/cineZeta.png" alt="cine Zeta">
    </div>

    <nav class="nav_bar">
        <ul>
            <li><a href="./login">Ingresar</a></li>
            <li><a href="./register">Registrarse</a></li>
            <li><a href="./movieCreate">Crear Película</a></li>
        </ul>
    </nav>
</div>
<!--FIN NAVEGADOR-->