<!--NAVEGADOR-->
<div class="main_header">
    <div class="containerLogo">
        <a href="/">
        <img  src="/img/cineZeta.png" alt="cine Zeta">
    </a>
    </div>

    <nav class="nav_bar">
        <ul>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/movies/movieCreate">Crear Película</a></li>
        </ul>
    </nav>
</div>
<!--FIN NAVEGADOR-->