<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>cineZeta - Nombre de la Pélicula</title>
            </head>

    <body>
        <!--HEADER-->
        <%- include('partials/header') %>
            <!-- FIN HEADER -->
            <div class="container_movieDetail">
                <div class="movie_card">
                    <img src="../img/army.jpg" alt="" class="image_movie">
                    <h4>Nombre de la películas</h4>
                </div>
                <div class="container_movie_detail">
                    <div class="detail_card"> Sinopsis: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Possimus totam ipsam officia ipsum maxime, eum nisi minima soluta similique repellendus
                        blanditiis aperiam id expedita laudantium! Cupiditate, sit quidem. Consequatur, odio?</div>
                    <hr>
                    <div class="detail_card"> Genero: </div>
                    <div class="detail_card"> Actores:</div>
                </div>
            </div>
    </body>

</html>