<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('partials/head') %>
    <!-- FIN HEAD -->

    <body>
        <!--HEADER-->
        <%- include('partials/header') %>
            <!-- FIN HEADER -->

            <!--CATALOGO DE PELICULAS-->
            <section class="movie_list">
                <h2>DISFRUTA DEL MEJOR CINE</h2>
                <div class="movie_container">
                    <!-- Tarjeta de pelicula -->
                    <div class="movie">
                        <p>hola mundo</p>
                    </div>
                    <!-- ------------------ -->
                    <!-- Tarjeta de pelicula -->
                    <div class="movie">
                        <p>hola mundo</p>
                    </div>
                    <!-- ------------------ -->
                    <!-- Tarjeta de pelicula -->
                    <div class="movie">
                        <p>hola mundo</p>
                    </div>
                    <!-- ------------------ -->
                    <!-- Tarjeta de pelicula -->
                    <div class="movie">
                        <p>hola mundo</p>
                    </div>
                    <!-- ------------------ -->
                    <!-- Tarjeta de pelicula -->
                    <div class="movie">
                        <p>hola mundo</p>
                    </div>
                    <!-- ------------------ -->
                </div>
            </section>
            <!--FIN CATALOGO DE PELICULAS-->
    </body>

</html>