<!DOCTYPE html>
<html lang="en">
    <head>
<%- include('partials/head') %>
<title>cineZeta - Home</title>
    </head>

    <body>
        <!--HEADER-->
        <%- include('partials/header') %>
            <!-- FIN HEADER -->

            <!--CATALOGO DE PELICULAS-->
            <section class="movie_list">
                <h2>LO MEJOR DEL CINE ESTA ACÁ</h2>
                <div class="list_container">
               <ul>
                   <% for (let i=0; i < movies.length; i++) { %> 
                    <li>
                        <a href="/movies/<%=movies[i].id%>">
                        <%=movies[i].title%> 
                    </a>
                    </li>
                    <% } %> 
               </ul>
            </div>

            </section>
            <!--FIN CATALOGO DE PELICULAS-->
    </body>

</html>