<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>cineZeta - Registro</title>
            </head>

    <body>
        <!--HEADER-->
        <%- include('partials/header') %>
            <!-- FIN HEADER -->
            
            <!--FORMULARIO CREACION DE PELICÚLA -->

            <div class="container-form">
                <div> <img class="cuervoBart" src="../img/cuervoIzq.png" alt=""></div>

                <form class="formulario-registro" action="/movieCreate" method="POST"
                    id="form">
                    <div class="control-form">
                        <label></label>
                        <input type="text" name="title" placeholder="Titulo" id="title">

                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="text" name="awards" class="control" placeholder="Premios" id="awards">


                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="text" name="length" class="control" placeholder="Duración" id="length">

                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="text" name="rating" class="control" placeholder="Rating"
                            id="rating">

                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="date" name="release_date" class="control" placeholder="Fecha de Estreno"
                            id="release_date">

                    </div>

                    <div class="control-form">
                        <label></label>
                        <select type="text" name="genre_id" class="control" placeholder="Generos" id="genre_id">
                            <% if (genres) { %>
                            <% for (let i = 0; i <genres.length; i++) { %>
                            <option value="<%=genres[i].id%>"> 
                                <%=genres[i].name%>
                            </option>
                            <% } %>
                            <% } %>
                        </select>

                    <button class="control-button" type="submit" action="./home"> Crear </button>

                </form>
                <div> <img class="cuervoBart" src="../img/cuervoDer.png" alt=""></div>
            </div>

    </body>

</html>