<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>cineZeta - Registro</title>
            </head>

    <body>
        <!--HEADER-->
        <%- include('partials/header') %>
            <!-- FIN HEADER -->
            
            <!--FORMULARIO-->

            <div class="container-form">
                <div> <img class="cuervoBart" src="../img/cuervoIzq.png" alt=""></div>
                <!--REGISTRO-->
                <form class="formulario-registro" action="/login" method="POST" enctype="multipart/form-data"
                    id="form">
                    <div class="control-form">
                        <label></label>
                        <input type="text" name="full_name" placeholder="Nombre Completo" id="full_name">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->
                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="text" name="email" class="control" placeholder="email@email.com" id="email">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->

                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="password" name="password" class="control" placeholder="Contraseña" id="password">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->
                    </div>

                    <div class="control-form">
                        <label></label>
                        <input type="password" name="repassword" class="control" placeholder="confirmar contraseña"
                            id="password2">
                        <!--                 <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small> -->
                    </div>

                    <button class="control-button" type="submit"> Registrarse </button>

                </form>
                <div> <img class="cuervoBart" src="../img/cuervoDer.png" alt=""></div>
            </div>

    </body>

</html>